name: Build Dockerfile

on:
  # push:
  #   branches: [main]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    uses: subedi-labs/platform/.github/workflows/generate-dockerfile.yml@main