name: Run SAST

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - "**/*.py"
      - "requirements*.txt"
      - "pyproject.toml"
      - '**/*.md'
      - '**/*.txt'
  workflow_dispatch:

jobs:
  codeql:
    uses: subedi-labs/platform/.github/workflows/scan-codeql.yml@main
    permissions:
      actions: read
      contents: read
      security-events: write
